@font-face {
    font-family: myfont;
    src: url(./fonts/NeueHaasDisplayMediu.ttf);
  }

  @font-face {
    font-family: myfontbold;
    src: url(./fonts/NeueHaasDisplayBold.ttf);
  }

  

.github {
    height: 2.5rem;
    min-width: 8rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ff2800;
    border: 1px solid #ff2800;
    font-family: myfont;
    font-size: 1rem;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  .name {
    font-family: myfontbold;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    color: #1c1c1c;
  }
  .css-s52hhw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: myfont;
    font-weight: 300;
    font-size: 0.875rem;
    margin-top: 0;
    color: #1c1c1c;
    line-height: 1.35;
  }
  .css-1iu548d {
    margin-right: 0.8rem;
    color: #9a9a9a;
    opacity: 0.5;
  }
  .css-th9smz {
    color: #ff2800;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  .css-th9smz:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
  }
  .css-7gj1sh {
    font-family: myfont;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0;
    color: #1c1c1c;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: myFont;
    margin: 0;
    background: #fff;
  }
  #root {
    display: grid;
    justify-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .website {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 700px;
    padding: 2rem;
  }
  .website > * {
    margin-bottom: 2rem;
  }
  .website > *:last-child {
    margin-bottom: 0;
  }
  .main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main > * {
    margin-bottom: 1rem;
  }
  .main > *:last-child {
    margin-bottom: 0;
  }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer > * {
    margin-right: 0.8rem;
  }
  .footer > *:last-child {
    margin-right: 0;
  }
  .contact {
    height: 2.5rem;
    min-width: 8rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ff2800;
    border: 1px solid #ff2800;
    font-family: myfont;
    font-size: 0.875rem;
    -webkit-letter-spacing: 0.6px;
    -moz-letter-spacing: 0.6px;
    -ms-letter-spacing: 0.6px;
    letter-spacing: 0.6px;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #fff;
    color: #ff2800;
    border: 1px solid #ff2800;
  }

  
  
  